@charset "UTF-8";

#wrapper {
    overflow-x: hidden;
  }
  
#sidebar-wrapper {
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

.sidebar-fixed-top {
  position: fixed;
  top: 4rem;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 399px) {
    .nav-logo {
        max-width: 2rem;
        max-height: 2rem;
    }
    .navbar-brand {
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        font-size: 1rem;
        text-decoration: none;
        white-space: nowrap;
    }
}

#navbar-menu-toggle-text {
  display: none;
}

@media (min-width: 360px) {
  #navbar-menu-toggle-text {
    display: inline;
  }
}

#navbar-report-sections-toggle-text {
  display: none;
}

@media (min-width: 992px) {
  #navbar-report-sections-toggle-text {
    display: inline;
  }
}

/* Make navbar collapsible menu appear over table of contents collapsible menu */
#navbarResponsive {
  z-index: 10;
}

#wrapper {
  z-index: 0;
}